@use '../abstracts/variables' as * ;


.navbar{ 
    background-color: $black-color;
    height: 72px;
    background-color: $black-color;
    border-bottom: 1px solid $stroke-color;
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 20px;
}

.navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.navbar-menu-option { 
    color: $text-white-color;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-right: 14px;
    padding-left: 14px;
    // padding-top: 1vh;
    // padding-bottom: 1vh;
    text-decoration: none;
    transition: all 0.1s ease-out;
    &:hover {
        cursor: pointer;
        color: $yellow-color;
        transform: scale(1.1);
        transition: all 0.1s ease-out;
        // font-size: 1.4vw;
        // transition: font-size 0.5s; 
    }
}

.navbar-searcher {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}