@use "../abstracts/variables" as *;

.navbar {
  background-color: $black-color;
  max-width: 100vw;
  height: 72px;
  background-color: $black-color;
  border-bottom: 1px solid $stroke-color;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-dropdown {
  position: relative;
  display: none;
  &-icon {
    &-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &-element {
      padding: 7px;
      font-size: 24px;

      color: $text-white-color;
      border-radius: 4px;
      &:hover {
        cursor: pointer;
        background-color: $stroke-color;
        color: $yellow-color;
      }
    }
  }

  &-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid $stroke-color;
    border-radius: 5px;
    background-color: $background-gray-color;
    top: 72px;
    width: 130px;
    z-index: 1;
    // height: 100px;
    // background-color: aqua;
    &-option {
      font-size: 16px;
        padding: 10px;
        color: $text-white-color;
        font-weight: 500;
        &:hover{
          background-color: $stroke-color;
          color: $yellow-color;
        }
    }
  }
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  color: $yellow-color;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.navbar-menu-option {
  color: $text-white-color;
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  padding-right: 14px;
  padding-left: 14px;
  // padding-top: 1vh;
  // padding-bottom: 1vh;
  text-decoration: none;
  transition: all 0.1s ease-out;
  &:hover {
    cursor: pointer;
    color: $yellow-color;
    transform: scale(1.1);
    transition: all 0.1s ease-out;
    // font-size: 1.4vw;
    // transition: font-size 0.5s;
  }
}

.navbar-searcher {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.navbar-searcher-hidden {
  display: none;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  &-icon {
    padding: 10px;
    font-size: 17px;
    color: $text-white-color;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
      background-color: $stroke-color;
    }
  }
  &-displayed {
    position: absolute;
    top: 54px;
    right: 0;
  }
}

.navbar-searcher-displayed {
  display: flex;
}

@media (min-width: 320px) and (max-width: 568px) {
  .navbar-searcher {
    display: none;
  }
  .navbar-dropdown {
    display: flex;
  }
  .navbar-searcher-hidden {
    display: flex;
  }
  .navbar-menu-option {
    display: none;
  }
}

@media (min-width: 569px) and (max-width: 767px) {
  .navbar-searcher {
    display: none;
  }
  .navbar-dropdown {
    display: flex;
  }
  .navbar-searcher-hidden {
    display: flex;
  }
  .navbar-menu-option {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-searcher {
    display: none;
  }
  .navbar-dropdown {
    display: flex;
  }
  .navbar-searcher-hidden {
    display: flex;
  }
  .navbar-menu-option {
    display: none;
  }
}
