.season-page-layout {
  margin-top: 20px;
  margin-left: 13vw;
  margin-right: 13vw;
  margin-bottom: 50px;
  .season-list-layout {
    margin-top: 20px;
    .season-list-grid {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      grid-template-rows: repeat(6, 18vw);
      column-gap: 1.6vw;
      row-gap: 1.9vw;
    }
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  .season-page-layout {
    // margin-top: 5vw;
    margin-left: 7vw;
    margin-right: 7vw;
    .season-list-layout {
    //   margin-top: 5vw;
      .season-list-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: repeat(12, 44vw);
        column-gap: 3.1vw;
        row-gap: 3.3vw;
      }
    }
  }
}

@media (min-width: 569px) and (max-width: 767px) {
  .season-page-layout {
    // margin-top: 3.5vw;
    .season-list-layout {
    //   margin-top: 3.5vw;
      .season-list-grid {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: repeat(9, 27.5vw);
        column-gap: 2.1vw;
        row-gap: 2.4vw;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .season-page-layout {
    // margin-top: 3.5vw;
    .season-list-layout {
    //   margin-top: 3.5vw;
      .season-list-grid {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: repeat(7, 21.5vw);
        column-gap: 2vw;
        row-gap: 2.3vw;
      }
    }
  }
}
