@use "../abstracts/variables" as *;

.selected-season-page-container {
  margin-left: 170px;
  // margin-right: 170px;
  display: grid;
  grid-template-columns: 62% 38%;

  .selected-season-page-principal-section {
    height: 100%;
    border-right: 1px solid $stroke-color;
    .selected-season-information {
      padding-top: 33px;
      display: grid;
      padding-bottom: 33px;
      grid-template-columns: 28% 72%;
      border-bottom: 1px solid $stroke-color;
      .selected-season-information-image {
        .selected-season-image {
          width: 180px;
          height: 230px;
          object-fit: cover;
        }
      }
      .selected-season-information-description {
        margin-left: 10px;
      }
    }
  }

  .selected-season-page-secondary-section {
    // width: 38%;
  }
}
