@use '../abstracts/variables' as * ;

.principal-page-title { 
    color: $text-white-color;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

.season-card-description-title { 
    margin: 0;
    font-size: 15px;
    color: $text-white-color;
    font-weight: 600;
}
.season-card-description-subtitle{
    margin: 0;
    font-size: 12px;
    color: $text-white-color;
    font-weight: 300;
}